.Card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: -1px 0px 7px -1px rgb(139, 138, 138);
}

.Card .title {
    text-align: center;
    font-weight: 600;
}

.Card .translation {
    text-align: center;
}